
<div class="container text-center">
  <div id="footer">
    <p class="muted credit"><a href="https://github.com/jlanyon90/TIMBS">TS Inventory Management\Business Solution</a> - TIMBS &copy; </p>
  </div>
</div>
